TOSCA/model/TOSCA-v1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
	Topology and Orchestration Specification for Cloud Applications Version 1.0
	OASIS Standard
	25 November 2013
	Copyright (c) OASIS Open 2013. All rights reserved.
	Source: http://docs.oasis-open.org/tosca/TOSCA/v1.0/os/schemas/
--><xs:schema xmlns="http://docs.oasis-open.org/tosca/ns/2011/12" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/tosca/ns/2011/12">
   
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
   
  <xs:element name="documentation" type="tDocumentation"/>
   
  <xs:complexType mixed="true" name="tDocumentation">
      
    <xs:sequence>
         
      <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
        
    </xs:sequence>
      
    <xs:attribute name="source" type="xs:anyURI"/>
      
    <xs:attribute ref="xml:lang"/>
     
  </xs:complexType>
   
  <xs:complexType name="tExtensibleElements">
      
    <xs:sequence>
         
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="documentation"/>
         
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        
    </xs:sequence>
      
    <xs:anyAttribute namespace="##other" processContents="lax"/>
     
  </xs:complexType>
   
  <xs:complexType name="tImport">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:attribute name="namespace" type="xs:anyURI"/>
            
        <xs:attribute name="location" type="xs:anyURI"/>
            
        <xs:attribute name="importType" type="importedURI" use="required"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:element name="Definitions">
      
    <xs:complexType>
         
      <xs:complexContent>
            
        <xs:extension base="tDefinitions"/>
           
      </xs:complexContent>
        
    </xs:complexType>
     
  </xs:element>
   
  <xs:complexType name="tDefinitions">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="Extensions">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="Extension" type="tExtension"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Import" type="tImport"/>
               
          <xs:element minOccurs="0" name="Types">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:choice maxOccurs="unbounded">
                  
            <xs:element name="ServiceTemplate" type="tServiceTemplate"/>
                  
            <xs:element name="NodeType" type="tNodeType"/>
                  
            <xs:element name="NodeTypeImplementation" type="tNodeTypeImplementation"/>
                  
            <xs:element name="RelationshipType" type="tRelationshipType"/>
                  
            <xs:element name="RelationshipTypeImplementation" type="tRelationshipTypeImplementation"/>
                  
            <xs:element name="RequirementType" type="tRequirementType"/>
                  
            <xs:element name="CapabilityType" type="tCapabilityType"/>
                  
            <xs:element name="ArtifactType" type="tArtifactType"/>
                  
            <xs:element name="ArtifactTemplate" type="tArtifactTemplate"/>
                  
            <xs:element name="PolicyType" type="tPolicyType"/>
                  
            <xs:element name="PolicyTemplate" type="tPolicyTemplate"/>
                 
          </xs:choice>
              
        </xs:sequence>
            
        <xs:attribute name="id" type="xs:ID" use="required"/>
            
        <xs:attribute name="name" type="xs:string" use="optional"/>
            
        <xs:attribute name="targetNamespace" type="xs:anyURI" use="required"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tServiceTemplate">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="Tags" type="tTags"/>
               
          <xs:element minOccurs="0" name="BoundaryDefinitions" type="tBoundaryDefinitions"/>
               
          <xs:element name="TopologyTemplate" type="tTopologyTemplate"/>
               
          <xs:element minOccurs="0" name="Plans" type="tPlans"/>
              
        </xs:sequence>
            
        <xs:attribute name="id" type="xs:ID" use="required"/>
            
        <xs:attribute name="name" type="xs:string" use="optional"/>
            
        <xs:attribute name="targetNamespace" type="xs:anyURI"/>
            
        <xs:attribute name="substitutableNodeType" type="xs:QName" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tTags">
      
    <xs:sequence>
         
      <xs:element maxOccurs="unbounded" name="Tag" type="tTag"/>
        
    </xs:sequence>
     
  </xs:complexType>
   
  <xs:complexType name="tTag">
      
    <xs:attribute name="name" type="xs:string" use="required"/>
      
    <xs:attribute name="value" type="xs:string" use="required"/>
     
  </xs:complexType>
   
  <xs:complexType name="tBoundaryDefinitions">
      
    <xs:sequence>
         
      <xs:element minOccurs="0" name="Properties">
            
        <xs:complexType>
               
          <xs:sequence>
                  
            <xs:any namespace="##other"/>
                  
            <xs:element minOccurs="0" name="PropertyMappings">
                     
              <xs:complexType>
                        
                <xs:sequence>
                           
                  <xs:element maxOccurs="unbounded" name="PropertyMapping" type="tPropertyMapping"/>
                          
                </xs:sequence>
                       
              </xs:complexType>
                    
            </xs:element>
                 
          </xs:sequence>
              
        </xs:complexType>
           
      </xs:element>
         
      <xs:element minOccurs="0" name="PropertyConstraints">
            
        <xs:complexType>
               
          <xs:sequence>
                  
            <xs:element maxOccurs="unbounded" name="PropertyConstraint" type="tPropertyConstraint"/>
                 
          </xs:sequence>
              
        </xs:complexType>
           
      </xs:element>
         
      <xs:element minOccurs="0" name="Requirements">
            
        <xs:complexType>
               
          <xs:sequence>
                  
            <xs:element maxOccurs="unbounded" name="Requirement" type="tRequirementRef"/>
                 
          </xs:sequence>
              
        </xs:complexType>
           
      </xs:element>
         
      <xs:element minOccurs="0" name="Capabilities">
            
        <xs:complexType>
               
          <xs:sequence>
                  
            <xs:element maxOccurs="unbounded" name="Capability" type="tCapabilityRef"/>
                 
          </xs:sequence>
              
        </xs:complexType>
           
      </xs:element>
         
      <xs:element minOccurs="0" name="Policies">
            
        <xs:complexType>
               
          <xs:sequence>
                  
            <xs:element maxOccurs="unbounded" name="Policy" type="tPolicy"/>
                 
          </xs:sequence>
              
        </xs:complexType>
           
      </xs:element>
         
      <xs:element minOccurs="0" name="Interfaces">
            
        <xs:complexType>
               
          <xs:sequence>
                  
            <xs:element maxOccurs="unbounded" name="Interface" type="tExportedInterface"/>
                 
          </xs:sequence>
              
        </xs:complexType>
           
      </xs:element>
        
    </xs:sequence>
     
  </xs:complexType>
   
  <xs:complexType name="tPropertyMapping">
      
    <xs:attribute name="serviceTemplatePropertyRef" type="xs:string" use="required"/>
      
    <xs:attribute name="targetObjectRef" type="xs:IDREF" use="required"/>
      
    <xs:attribute name="targetPropertyRef" type="xs:string" use="required"/>
     
  </xs:complexType>
   
  <xs:complexType name="tRequirementRef">
      
    <xs:attribute name="name" type="xs:string" use="optional"/>
      
    <xs:attribute name="ref" type="xs:IDREF" use="required"/>
     
  </xs:complexType>
   
  <xs:complexType name="tCapabilityRef">
      
    <xs:attribute name="name" type="xs:string" use="optional"/>
      
    <xs:attribute name="ref" type="xs:IDREF" use="required"/>
     
  </xs:complexType>
   
  <xs:complexType abstract="true" name="tEntityType">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="Tags" type="tTags"/>
               
          <xs:element minOccurs="0" name="DerivedFrom">
                  
            <xs:complexType>
                     
              <xs:attribute name="typeRef" type="xs:QName" use="required"/>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="PropertiesDefinition">
                  
            <xs:complexType>
                     
              <xs:attribute name="element" type="xs:QName"/>
                     
              <xs:attribute name="type" type="xs:QName"/>
                    
            </xs:complexType>
                 
          </xs:element>
              
        </xs:sequence>
            
        <xs:attribute name="name" type="xs:NCName" use="required"/>
            
        <xs:attribute default="no" name="abstract" type="tBoolean"/>
            
        <xs:attribute default="no" name="final" type="tBoolean"/>
            
        <xs:attribute name="targetNamespace" type="xs:anyURI" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType abstract="true" name="tEntityTemplate">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="Properties">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:any namespace="##other" processContents="lax"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="PropertyConstraints">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="PropertyConstraint" type="tPropertyConstraint"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
              
        </xs:sequence>
            
        <xs:attribute name="id" type="xs:ID" use="required"/>
            
        <xs:attribute name="type" type="xs:QName" use="required"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tNodeTemplate">
      
    <xs:complexContent>
         
      <xs:extension base="tEntityTemplate">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="Requirements">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="Requirement" type="tRequirement"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="Capabilities">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="Capability" type="tCapability"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="Policies">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="Policy" type="tPolicy"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="DeploymentArtifacts" type="tDeploymentArtifacts"/>
              
        </xs:sequence>
            
        <xs:attribute name="name" type="xs:string" use="optional"/>
            
        <xs:attribute default="1" name="minInstances" type="xs:int" use="optional"/>
            
        <xs:attribute default="1" name="maxInstances" use="optional">
               
          <xs:simpleType>
                  
            <xs:union>
                     
              <xs:simpleType>
                        
                <xs:restriction base="xs:nonNegativeInteger">
                           
                  <xs:pattern value="([1-9]+[0-9]*)"/>
                          
                </xs:restriction>
                       
              </xs:simpleType>
                     
              <xs:simpleType>
                        
                <xs:restriction base="xs:string">
                           
                  <xs:enumeration value="unbounded"/>
                          
                </xs:restriction>
                       
              </xs:simpleType>
                    
            </xs:union>
                 
          </xs:simpleType>
              
        </xs:attribute>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tTopologyTemplate">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:choice maxOccurs="unbounded">
               
          <xs:element name="NodeTemplate" type="tNodeTemplate"/>
               
          <xs:element name="RelationshipTemplate" type="tRelationshipTemplate"/>
              
        </xs:choice>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tRelationshipType">
      
    <xs:complexContent>
         
      <xs:extension base="tEntityType">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="InstanceStates" type="tTopologyElementInstanceStates"/>
               
          <xs:element minOccurs="0" name="SourceInterfaces">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="Interface" type="tInterface"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="TargetInterfaces">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="Interface" type="tInterface"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="ValidSource">
                  
            <xs:complexType>
                     
              <xs:attribute name="typeRef" type="xs:QName" use="required"/>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="ValidTarget">
                  
            <xs:complexType>
                     
              <xs:attribute name="typeRef" type="xs:QName" use="required"/>
                    
            </xs:complexType>
                 
          </xs:element>
              
        </xs:sequence>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tRelationshipTypeImplementation">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="Tags" type="tTags"/>
               
          <xs:element minOccurs="0" name="DerivedFrom">
                  
            <xs:complexType>
                     
              <xs:attribute name="relationshipTypeImplementationRef" type="xs:QName" use="required"/>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="RequiredContainerFeatures" type="tRequiredContainerFeatures"/>
               
          <xs:element minOccurs="0" name="ImplementationArtifacts" type="tImplementationArtifacts"/>
              
        </xs:sequence>
            
        <xs:attribute name="name" type="xs:NCName" use="required"/>
            
        <xs:attribute name="targetNamespace" type="xs:anyURI" use="optional"/>
            
        <xs:attribute name="relationshipType" type="xs:QName" use="required"/>
            
        <xs:attribute default="no" name="abstract" type="tBoolean" use="optional"/>
            
        <xs:attribute default="no" name="final" type="tBoolean" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tRelationshipTemplate">
      
    <xs:complexContent>
         
      <xs:extension base="tEntityTemplate">
            
        <xs:sequence>
               
          <xs:element name="SourceElement">
                  
            <xs:complexType>
                     
              <xs:attribute name="ref" type="xs:IDREF" use="required"/>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element name="TargetElement">
                  
            <xs:complexType>
                     
              <xs:attribute name="ref" type="xs:IDREF" use="required"/>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="RelationshipConstraints">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="RelationshipConstraint">
                           
                  <xs:complexType>
                              
                    <xs:sequence>
                                 
                      <xs:any minOccurs="0" namespace="##other" processContents="lax"/>
                                
                    </xs:sequence>
                              
                    <xs:attribute name="constraintType" type="xs:anyURI" use="required"/>
                             
                  </xs:complexType>
                          
                </xs:element>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
              
        </xs:sequence>
            
        <xs:attribute name="name" type="xs:string" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tNodeType">
      
    <xs:complexContent>
         
      <xs:extension base="tEntityType">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="RequirementDefinitions">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="RequirementDefinition" type="tRequirementDefinition"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="CapabilityDefinitions">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="CapabilityDefinition" type="tCapabilityDefinition"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="InstanceStates" type="tTopologyElementInstanceStates"/>
               
          <xs:element minOccurs="0" name="Interfaces">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="Interface" type="tInterface"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
              
        </xs:sequence>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tNodeTypeImplementation">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="Tags" type="tTags"/>
               
          <xs:element minOccurs="0" name="DerivedFrom">
                  
            <xs:complexType>
                     
              <xs:attribute name="nodeTypeImplementationRef" type="xs:QName" use="required"/>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="RequiredContainerFeatures" type="tRequiredContainerFeatures"/>
               
          <xs:element minOccurs="0" name="ImplementationArtifacts" type="tImplementationArtifacts"/>
               
          <xs:element minOccurs="0" name="DeploymentArtifacts" type="tDeploymentArtifacts"/>
              
        </xs:sequence>
            
        <xs:attribute name="name" type="xs:NCName" use="required"/>
            
        <xs:attribute name="targetNamespace" type="xs:anyURI" use="optional"/>
            
        <xs:attribute name="nodeType" type="xs:QName" use="required"/>
            
        <xs:attribute default="no" name="abstract" type="tBoolean" use="optional"/>
            
        <xs:attribute default="no" name="final" type="tBoolean" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tRequirementType">
      
    <xs:complexContent>
         
      <xs:extension base="tEntityType">
            
        <xs:attribute name="requiredCapabilityType" type="xs:QName" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tRequirementDefinition">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="Constraints">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="Constraint" type="tConstraint"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
              
        </xs:sequence>
            
        <xs:attribute name="name" type="xs:string" use="required"/>
            
        <xs:attribute name="requirementType" type="xs:QName" use="required"/>
            
        <xs:attribute default="1" name="lowerBound" type="xs:int" use="optional"/>
            
        <xs:attribute default="1" name="upperBound" use="optional">
               
          <xs:simpleType>
                  
            <xs:union>
                     
              <xs:simpleType>
                        
                <xs:restriction base="xs:nonNegativeInteger">
                           
                  <xs:pattern value="([1-9]+[0-9]*)"/>
                          
                </xs:restriction>
                       
              </xs:simpleType>
                     
              <xs:simpleType>
                        
                <xs:restriction base="xs:string">
                           
                  <xs:enumeration value="unbounded"/>
                          
                </xs:restriction>
                       
              </xs:simpleType>
                    
            </xs:union>
                 
          </xs:simpleType>
              
        </xs:attribute>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tRequirement">
      
    <xs:complexContent>
         
      <xs:extension base="tEntityTemplate">
            
        <xs:attribute name="name" type="xs:string" use="required"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tCapabilityType">
      
    <xs:complexContent>
         
      <xs:extension base="tEntityType"/>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tCapabilityDefinition">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="Constraints">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="Constraint" type="tConstraint"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
              
        </xs:sequence>
            
        <xs:attribute name="name" type="xs:string" use="required"/>
            
        <xs:attribute name="capabilityType" type="xs:QName" use="required"/>
            
        <xs:attribute default="1" name="lowerBound" type="xs:int" use="optional"/>
            
        <xs:attribute default="1" name="upperBound" use="optional">
               
          <xs:simpleType>
                  
            <xs:union>
                     
              <xs:simpleType>
                        
                <xs:restriction base="xs:nonNegativeInteger">
                           
                  <xs:pattern value="([1-9]+[0-9]*)"/>
                          
                </xs:restriction>
                       
              </xs:simpleType>
                     
              <xs:simpleType>
                        
                <xs:restriction base="xs:string">
                           
                  <xs:enumeration value="unbounded"/>
                          
                </xs:restriction>
                       
              </xs:simpleType>
                    
            </xs:union>
                 
          </xs:simpleType>
              
        </xs:attribute>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tCapability">
      
    <xs:complexContent>
         
      <xs:extension base="tEntityTemplate">
            
        <xs:attribute name="name" type="xs:string" use="required"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tArtifactType">
      
    <xs:complexContent>
         
      <xs:extension base="tEntityType"/>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tArtifactTemplate">
      
    <xs:complexContent>
         
      <xs:extension base="tEntityTemplate">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="ArtifactReferences">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="ArtifactReference" type="tArtifactReference"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
              
        </xs:sequence>
            
        <xs:attribute name="name" type="xs:string" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tDeploymentArtifacts">
      
    <xs:sequence>
         
      <xs:element maxOccurs="unbounded" name="DeploymentArtifact" type="tDeploymentArtifact"/>
        
    </xs:sequence>
     
  </xs:complexType>
   
  <xs:complexType name="tDeploymentArtifact">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:attribute name="name" type="xs:string" use="required"/>
            
        <xs:attribute name="artifactType" type="xs:QName" use="required"/>
            
        <xs:attribute name="artifactRef" type="xs:QName" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tImplementationArtifacts">
      
    <xs:sequence>
         
      <xs:element maxOccurs="unbounded" name="ImplementationArtifact">
            
        <xs:complexType>
               
          <xs:complexContent>
                  
            <xs:extension base="tImplementationArtifact"/>
                 
          </xs:complexContent>
              
        </xs:complexType>
           
      </xs:element>
        
    </xs:sequence>
     
  </xs:complexType>
   
  <xs:complexType name="tImplementationArtifact">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:attribute name="interfaceName" type="xs:anyURI" use="optional"/>
            
        <xs:attribute name="operationName" type="xs:NCName" use="optional"/>
            
        <xs:attribute name="artifactType" type="xs:QName" use="required"/>
            
        <xs:attribute name="artifactRef" type="xs:QName" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tPlans">
      
    <xs:sequence>
         
      <xs:element maxOccurs="unbounded" name="Plan" type="tPlan"/>
        
    </xs:sequence>
      
    <xs:attribute name="targetNamespace" type="xs:anyURI" use="optional"/>
     
  </xs:complexType>
   
  <xs:complexType name="tPlan">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="Precondition" type="tCondition"/>
               
          <xs:element minOccurs="0" name="InputParameters">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="InputParameter" type="tParameter"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="OutputParameters">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="OutputParameter" type="tParameter"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:choice>
                  
            <xs:element name="PlanModel">
                     
              <xs:complexType>
                        
                <xs:sequence>
                           
                  <xs:any namespace="##other" processContents="lax"/>
                          
                </xs:sequence>
                       
              </xs:complexType>
                    
            </xs:element>
                  
            <xs:element name="PlanModelReference">
                     
              <xs:complexType>
                        
                <xs:attribute name="reference" type="xs:anyURI" use="required"/>
                       
              </xs:complexType>
                    
            </xs:element>
                 
          </xs:choice>
              
        </xs:sequence>
            
        <xs:attribute name="id" type="xs:ID" use="required"/>
            
        <xs:attribute name="name" type="xs:string" use="optional"/>
            
        <xs:attribute name="planType" type="xs:anyURI" use="required"/>
            
        <xs:attribute name="planLanguage" type="xs:anyURI" use="required"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tPolicyType">
      
    <xs:complexContent>
         
      <xs:extension base="tEntityType">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="AppliesTo" type="tAppliesTo"/>
              
        </xs:sequence>
            
        <xs:attribute name="policyLanguage" type="xs:anyURI" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tPolicyTemplate">
      
    <xs:complexContent>
         
      <xs:extension base="tEntityTemplate">
            
        <xs:attribute name="name" type="xs:string" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tAppliesTo">
      
    <xs:sequence>
         
      <xs:element maxOccurs="unbounded" name="NodeTypeReference">
            
        <xs:complexType>
               
          <xs:attribute name="typeRef" type="xs:QName" use="required"/>
              
        </xs:complexType>
           
      </xs:element>
        
    </xs:sequence>
     
  </xs:complexType>
   
  <xs:complexType name="tPolicy">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:attribute name="name" type="xs:string" use="optional"/>
            
        <xs:attribute name="policyType" type="xs:QName" use="required"/>
            
        <xs:attribute name="policyRef" type="xs:QName" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tConstraint">
      
    <xs:sequence>
         
      <xs:any namespace="##other" processContents="lax"/>
        
    </xs:sequence>
      
    <xs:attribute name="constraintType" type="xs:anyURI" use="required"/>
     
  </xs:complexType>
   
  <xs:complexType name="tPropertyConstraint">
      
    <xs:complexContent>
         
      <xs:extension base="tConstraint">
            
        <xs:attribute name="property" type="xs:string" use="required"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tExtensions">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:sequence>
               
          <xs:element maxOccurs="unbounded" name="Extension" type="tExtension"/>
              
        </xs:sequence>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tExtension">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:attribute name="namespace" type="xs:anyURI" use="required"/>
            
        <xs:attribute default="yes" name="mustUnderstand" type="tBoolean" use="optional"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tParameter">
      
    <xs:attribute name="name" type="xs:string" use="required"/>
      
    <xs:attribute name="type" type="xs:string" use="required"/>
      
    <xs:attribute default="yes" name="required" type="tBoolean" use="optional"/>
     
  </xs:complexType>
   
  <xs:complexType name="tInterface">
      
    <xs:sequence>
         
      <xs:element maxOccurs="unbounded" name="Operation" type="tOperation"/>
        
    </xs:sequence>
      
    <xs:attribute name="name" type="xs:anyURI" use="required"/>
     
  </xs:complexType>
   
  <xs:complexType name="tExportedInterface">
      
    <xs:sequence>
         
      <xs:element maxOccurs="unbounded" name="Operation" type="tExportedOperation"/>
        
    </xs:sequence>
      
    <xs:attribute name="name" type="xs:anyURI" use="required"/>
     
  </xs:complexType>
   
  <xs:complexType name="tOperation">
      
    <xs:complexContent>
         
      <xs:extension base="tExtensibleElements">
            
        <xs:sequence>
               
          <xs:element minOccurs="0" name="InputParameters">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="InputParameter" type="tParameter"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
               
          <xs:element minOccurs="0" name="OutputParameters">
                  
            <xs:complexType>
                     
              <xs:sequence>
                        
                <xs:element maxOccurs="unbounded" name="OutputParameter" type="tParameter"/>
                       
              </xs:sequence>
                    
            </xs:complexType>
                 
          </xs:element>
              
        </xs:sequence>
            
        <xs:attribute name="name" type="xs:NCName" use="required"/>
           
      </xs:extension>
        
    </xs:complexContent>
     
  </xs:complexType>
   
  <xs:complexType name="tExportedOperation">
      
    <xs:choice>
         
      <xs:element name="NodeOperation">
            
        <xs:complexType>
               
          <xs:attribute name="nodeRef" type="xs:IDREF" use="required"/>
               
          <xs:attribute name="interfaceName" type="xs:anyURI" use="required"/>
               
          <xs:attribute name="operationName" type="xs:NCName" use="required"/>
              
        </xs:complexType>
           
      </xs:element>
         
      <xs:element name="RelationshipOperation">
            
        <xs:complexType>
               
          <xs:attribute name="relationshipRef" type="xs:IDREF" use="required"/>
               
          <xs:attribute name="interfaceName" type="xs:anyURI" use="required"/>
               
          <xs:attribute name="operationName" type="xs:NCName" use="required"/>
              
        </xs:complexType>
           
      </xs:element>
         
      <xs:element name="Plan">
            
        <xs:complexType>
               
          <xs:attribute name="planRef" type="xs:IDREF" use="required"/>
              
        </xs:complexType>
           
      </xs:element>
        
    </xs:choice>
      
    <xs:attribute name="name" type="xs:NCName" use="required"/>
     
  </xs:complexType>
   
  <xs:complexType name="tCondition">
      
    <xs:sequence>
         
      <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
        
    </xs:sequence>
      
    <xs:attribute name="expressionLanguage" type="xs:anyURI" use="required"/>
     
  </xs:complexType>
   
  <xs:complexType name="tTopologyElementInstanceStates">
      
    <xs:sequence>
         
      <xs:element maxOccurs="unbounded" name="InstanceState">
            
        <xs:complexType>
               
          <xs:attribute name="state" type="xs:anyURI" use="required"/>
              
        </xs:complexType>
           
      </xs:element>
        
    </xs:sequence>
     
  </xs:complexType>
   
  <xs:complexType name="tArtifactReference">
      
    <xs:choice maxOccurs="unbounded" minOccurs="0">
         
      <xs:element name="Include">
            
        <xs:complexType>
               
          <xs:attribute name="pattern" type="xs:string" use="required"/>
              
        </xs:complexType>
           
      </xs:element>
         
      <xs:element name="Exclude">
            
        <xs:complexType>
               
          <xs:attribute name="pattern" type="xs:string" use="required"/>
              
        </xs:complexType>
           
      </xs:element>
        
    </xs:choice>
      
    <xs:attribute name="reference" type="xs:anyURI" use="required"/>
     
  </xs:complexType>
   
  <xs:complexType name="tRequiredContainerFeatures">
      
    <xs:sequence>
         
      <xs:element maxOccurs="unbounded" name="RequiredContainerFeature" type="tRequiredContainerFeature"/>
        
    </xs:sequence>
     
  </xs:complexType>
   
  <xs:complexType name="tRequiredContainerFeature">
      
    <xs:attribute name="feature" type="xs:anyURI" use="required"/>
     
  </xs:complexType>
   
  <xs:simpleType name="tBoolean">
      
    <xs:restriction base="xs:string">
         
      <xs:enumeration value="yes"/>
         
      <xs:enumeration value="no"/>
        
    </xs:restriction>
     
  </xs:simpleType>
   
  <xs:simpleType name="importedURI">
      
    <xs:restriction base="xs:anyURI"/>
     
  </xs:simpleType>
  
</xs:schema>
